<!DOCTYPE html>
<html lang="zh_CN" ng-app="user_setting">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include ../base/static.ejs %>
    <script src="/public/libs/angular/angular-route.js"></script>
    <script src="/public/js/user_setting_router_controller.js"></script>
    <style>
        .axis path,
        .axis line{
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .axis text {
            font-family: sans-serif;
            font-size: 11px;
        }
    </style>
</head>
<body>
<% include ../base/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <a class="list-group-item active" href="#/profile">我的信息</a>
                        <a class="list-group-item" href="#/avatar">我的头像</a>
                        <a class="list-group-item" href="#/addtype">账单类型添加</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
        <div class="panel">
            <div class="panel-heading"></div>
            <div class="panel-body" ng-view>

            </div>
        </div>

        </div>
    </div>
</div>
<script>

</script>
<% include ../base/footer.ejs %>
</body>
</html>