<!DOCTYPE html>
<html lang="en" ng-app="account">
<head>
    <meta charset="UTF-8">
    <title><%= 用户中心 %></title>
    <% include ../base/static.ejs %>
</head>
<body>
<% include ../base/header.ejs %>

<% include ../base/footer.ejs %>
</body>
</html>