<!DOCTYPE html>
<html lang="en" ng-app="account">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <% include ../base/static.ejs %>
    <script>
        var _APP_URL_ =1 <%-app_url%>;
    </script>
    <style>
    </style>
</head>
<body>
<% include ../base/header.ejs %>
<!--主体-->
<div class="container" ui-view>

</div>
<!--footer-->
<% include ../base/footer.ejs %>
<!--./footer-->

</body>
</html>