<!DOCTYPE html>
<html lang="en" ng-app="account">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <% include ../base/static.ejs %>
    <script>
        var _APP_URL_ =1 <%-app_url%>;
    </script>
    <style>
        .money-in {

        }
        .money-out {

        }
        /*footer*/
        .footer {
            margin-top: 20px;
            padding: 16px 0;
            border-top: 1px solid #e3e3e3;
        }
        .login-panel{
            width:50%;
            max-width: 400px;
            margin: 0 auto;
            box-shadow: 3px 4px #EEE;
        }
        .login-panel .panel-heading{
            _text-align: center;
        }
        .login-panel input{
            text-align: center;
        }
        /*账单滚动*/
        .check-wrapper {
            height: 206px;
            overflow: hidden;
        }
    </style>
</head>
<body>
<% include ../base/header.ejs %>
<!--主体-->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <button type="button" class="btn btn-success btn-lg btn-block">收入</button>
                    <button type="button" class="btn btn-danger btn-lg btn-block">支出</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">曲线图</div>
                <div class="panel-body"></div>
            </div>
        </div>

        <div class="col-md-4">
            <!--账单列表-->
            <div class="panel panel-default">
                <div class="panel-heading">账单列表</div>
                <div class="panel-body">
                    <ul class="list-group check-wrapper"  ng-controller="checkList">
                        <li class="list-group-item" ng-repeat=" x in checks">{{ x.title  + '&nbsp;'
                            + x.inorout + '&nbsp;' + x.money_amount + '&nbsp;元'}}
                        </li>
                    </ul>
                </div>
            </div>
            <script>
                //slider
                $(function() {
                    $('.check-wrapper');
                });
            </script>
            <!--账单列表-->
        </div>
    </div>
</div>
<!--记下一笔帐-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">记下一笔账</div>
        <div class="panel-body">
            <form action="" class="form" id="addcheck">
                <div class="form-group"><label for="">标题：</label><input type="text" name="title" class="form-control"></div>
                <div class="form-group"><label for="">消费or收入：</label><input type="text" name="inorout" class="form-control"></div>
                <div class="form-group"><label for="">分类：</label><input type="text" name="all_class" class="form-control"></div>
                <div class="form-group"><label for="">金额：</label><input type="text" name="money_amount" class="form-control"></div>
                <div class="form-group"><label for="">备注说明：</label><input type="text" name="desc" class="form-control"></div>
                <div class="form-group">
                    <button class="btn btn-default add" type="button">记到账上去</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#addcheck .add").on('click', function() {
        var check = $('#addcheck').serialize();
        $.ajax({
            url: '/addcheck',
            data: check,
            type: 'post',
            dataType: 'json',
            success: function(res) {
                if(res.error) {
                    alert(res.msg);
                }
                if(res.success) {
                    alert('你已经成功的记上一笔账！');
                    location.href = '/';
                }
            },
            error: function() {
                alert('加载失败');
            }

        });
    });
</script>
<!---记下一笔账-->
<!--footer-->
<% include ../base/footer.ejs %>
<!--./footer-->

</body>
</html>