<!DOCTYPE html>
<html lang="en" ng-app="check">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title><%=title%></title>
    <script src="../public/js/jquery-2.1.4.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/angular-1.0.1.min.js"></script>
    <script src="../public/js/controller.js"></script>
    <script>
        //配置ejs

    </script>
    <script>
        var _APP_URL_ = <%-app_url%>;
    </script>
    <style>
        .money-in {

        }
        .money-out {

        }
        /*footer*/
        .footer {
            margin-top: 20px;
            padding: 16px 0;
            border-top: 1px solid #e3e3e3;
        }
        .login-panel{
            width:50%;
            max-width: 400px;
            margin: 0 auto;
            box-shadow: 3px 4px #EEE;
        }
        .login-panel .panel-heading{
            _text-align: center;
        }
        .login-panel input{
            text-align: center;
        }
        /*账单滚动*/
        .check-wrapper {
            height: 206px;
            overflow: hidden;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">记账</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--主体-->
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <button type="button" class="btn btn-success btn-lg btn-block">收入</button>
                    <button type="button" class="btn btn-danger btn-lg btn-block">支出</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">曲线图</div>
                <div class="panel-body"></div>
            </div>
        </div>

        <div class="col-md-4">
            <!--账单列表-->
            <div class="panel panel-default">
                <div class="panel-heading">账单列表</div>
                <div class="panel-body">
                    <ul class="list-group check-wrapper"  ng-controller="checkList">
                        <li class="list-group-item" ng-repeat=" x in checks">{{ x.inorout + '&nbsp;' + x.money_amount + '元' | filter}}</li>
                    </ul>
                </div>
            </div>
            <script>
                (function() {
                    var app = angular.module('check', []);
                    app.controller('checkList', function($scope, $http) {
                        $http.post('/checklist').success(function(response) {
                            var x;
                            for(x in response) {
                                console.log(x);
                                if(response[x].money_amount == '') {
                                    console.log(response.splice(x, 1));
                                    //console.log(response[x]);
                                }
                            }
                            //console.log(response);
//                            for(x in response) {
//                                if(response[x]['inorout'] == '消费') {
//                                    response[x]['inorout'] = '消费';
//                                } else {
//                                    response[x]['inorout'] = '收入';
//                                }
//                            }

                           $scope.checks = response;
                        });
                    });
                })();

            </script>
            <!--账单列表-->
        </div>
    </div>
</div>

<!--login-->
<div class="container">
    <div class="panel panel-default login-panel">
        <div class="panel-heading">&nbsp;</div>
        <div class="panel-body">
            <form action="" method="post" class="text-center" id="form-login">
                <div class="form-group">
                    <label for="">邮箱</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="">密码</label>
                    <input type="password" class="form-control" name="passwd">
                </div>
                <div class="form-group">
                    <input type="checkbox" class="input-control">
                    <label for="">记住密码</label>
                    <a href="">注册</a>
                </div>
                <button class="btn btn-default btn-block" type="button" id="btn-login">登录</button>
            </form>
        </div>
    </div>

</div>
<!--./login-->

<!--logup-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">注册</div>
        <div class="panel-body">
            <form id="logup-form">
                <div class="form-group">
                    <label for="">邮箱：</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="">用户名：</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label for="">密码：</label>
                    <input type="password" class="form-control" name="passwd">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default" id="logup-btn">注册</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--./logup-->

<!--记下一笔帐-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">记下一笔账</div>
        <div class="panel-body">
            <form action="" class="form" id="addcheck">
                <div class="form-group"><label for="">标题：</label><input type="text" name="title" class="form-control"></div>
                <div class="form-group"><label for="">消费or收入：</label><input type="text" name="inorout" class="form-control"></div>
                <div class="form-group"><label for="">分类：</label><input type="text" name="all_class" class="form-control"></div>
                <div class="form-group"><label for="">金额：</label><input type="text" name="money_amount" class="form-control"></div>
                <div class="form-group"><label for="">备注说明：</label><input type="text" name="desc" class="form-control"></div>
                <div class="form-group">
                    <button class="btn btn-default add" type="button">记到账上去</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#addcheck .add").on('click', function() {
        var check = $('#addcheck').serialize();
        $.ajax({
            url: '/addcheck',
            data: check,
            type: 'post',
            dataType: 'json',
            success: function(res) {
                if(res.error) {
                    alert(res.msg);
                }
                if(res.success) {
                    alert('你已经成功的记上一笔账！');
                    location.href = '/';
                }
            },
            error: function() {
                alert('加载失败');
            }

        });
    });
</script>
<!---记下一笔账->

<!--footer-->
<div class="container footer">
    <p class="text-center">记账</p>
</div>
<!--./footer-->
<script>
    $('#btn-login').on('click', function() {
        var info = $('#form-login').serialize();
        $.ajax({
            url: "/login",
            type: 'post',
            data: info,
            success: function(response) {
                if (response.login == 1) {
                    location.href = '/user';
                } else {
                    alert('登录失败');
                }

                console.log(response);
            },
            error:function() {
                console.log('failed');
            }
        });
    });
</script>
<script>
    (function() {
        $("#logup-btn").on('click', function (){
            var form_data =  $('#logup-form').serialize();
            console.log(form_data);
            $.ajax({
                url: '/logup',
                data: form_data,
                type: 'post',
                success: function(res) {
                    if(res.error) {
                        alert('注册失败');
                    } else {
                        alert('注册成功');
                    }
                },
                error: function() {
                    alert('注册失败');
                }
            });
        });
    })();
</script>
</body>
</html>